<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <h3>Vas a eliminar el {{ itemName }}</h3>
    <!-- (click)="closeModal()"-->
    <p>
      ¿Estás seguro de que desea eliminar el coche? Esta acción no se puede
      deshacer
    </p>
    <hr />
    <button appButtonType="secondary" role="link" (click)="closeModal()">
      Cancelar
    </button>
    <button appButtonType="primary" role="link" (click)="onConfirm()">
      Aceptar
    </button>
    <!--(click)="menuActions.deleteCar(carId)"-->
  </div>
</div>
