@if (car) {
  <button appButtonType="primary" role="link" (click)="modal.openModal()">
    Eliminar
  </button>
  <!--(click)="modal.openModal()"-->
  <a appButtonType="secondary" [routerLink]="['/cars/edit/', car.id]">Editar</a>

  <h1>{{ car.brand }} -- {{ car.model }}</h1>
  <p><b>ID:</b> {{ car.id }}</p>
  <p><b>Total:</b> {{ car.total }}</p>
  <br />
  <h2>Stock de coches</h2>

  <table class="car-details-table">
    <thead>
      <tr>
        <th>Fecha de registro</th>
        <th>Año de fabricación</th>
        <th>Precio</th>
        <th>Kilometraje</th>
        <th>Matrícula</th>
        <th>Disponibilidad</th>
      </tr>
    </thead>
    <tbody>
      @for (carDetail of car.carDetails; track carDetail) {
        <tr>
          <td>{{ carDetail.registrationDate | date: 'mediumDate' }}</td>
          <td>{{ carDetail.manufactureYear }}</td>
          <td>
            {{
              carDetail.price
                | currency: carDetail.currency : 'symbol' : '4.2-2'
            }}
          </td>
          <td>
            {{ carDetail.mileage | number: '1.1-2' }} km
            <ng-container *ngIf="carDetail.mileage | mileageStatus as status">
              <span [ngClass]="status.cssClass + ' mileage-status'">
                {{ status.label }}
              </span>
            </ng-container>
          </td>
          <td>{{ carDetail.licensePlate }}</td>
          <td
            [ngClass]="{
              available: carDetail.availability,
              'not-available': !carDetail.availability,
              availability: true,
            }"
          >
            {{ carDetail.availability ? 'Disponible' : 'No Disponible' }}
          </td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <h1>No existe un coche con ese ID</h1>
}
<app-modal
  #modal
  [itemName]="car?.brand + '--' + car?.model"
  [carId]="car?.id!"
  (confirmDelete)="deleteCar($event)"
></app-modal>
